[package]
name = "drivers"
version = "0.1.0"
edition.workspace = true

[lib]
test = false
bench = false
doctest = false

[dependencies]
dtb_reader.workspace = true
log.workspace = true

spin.workspace = true
